Requirements:
[~] Requirement's include:

pip install for quick usage:
  bash:
  pip install AbstractIntegratedModule # or
  python -m pip install AbstractIntegratedModule

or via Binaries for specific OS (Choose one minimal, specified for your needs):
Windows Native OS - AbstractIntegratedModule.cp313-win_amd64 Supports Python 3.13 for Windows Only (Robust, Stable version)
Linux x86_64 - AbstractIntegratedModule.cpython-312-x86_64-linux-gnu.so supports Python 3.12 only.
Linux ARM64 - Raspberry Pi (Supports Raspberry pi 3 - 5) - AbstractIntegratedModule.cpython-310-aarch64-linux-gnu.so supports Python 3.10 only.

Library requirements to run AbstractIntegratedModule for Binaries usage:
- pandas 
- scikit-learn
- numpy
- aiohttp
- psutil

AbstractIntegratedModule.pyd (For windows machine)
AbstractIntegratedModule.cpython-39-x86_64-linux-gnu.so (For linux x86_64)
AbstractIntegratedModule.cpython-39-aarch64-linux-gnu.so (for Linux ARM64 - Raspberry Pi)

CSV file that contains training labels and titles. 
  [=] To create CSV:
     - create .txt file
     - create titles and labels
     - Example:
```
window_title, label
"Thesis.docx", focused_work,high,writing thesis
"Microsoft Excel", work,medium,data analysis
"YouTube -> Google Chrome", distracted,high,watching videos
"Slack", communication,high,team chat
"VSCode", focused_work,high,coding
"netflix.com -> Google Chrome", break,high,Netflix break
"Outlook", work,medium,checking email
"System Settings", system designing,low,configuring computer
"GitHub", creating and editing repo, research
"README.md -> VS Code", focused_work,medium,reading docs
"Amazon.com -> Chrome", personal work,high,shopping
```

